body {
    margin: 0;
    padding: 0;
    color: #29363b;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    min-width: 300px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
    text-decoration: none;
    color: #23b87f;
}

a:hover,
a:focus {
    color: #23b84f;
    text-decoration: underline;
}

label {
    font-weight: 100 !important;
}

select,
.select {
    width: 100%;
}

.title.is-6 {
    line-height: 1.3rem;
}

ul {
    list-style: unset;
}

.title .highlighted {
    display: inline-block;
    padding: 0.1rem 0.3rem;
    font-size: 87.5%;
    color: #fff;
    background-color: #23b87f;
    border-radius: 0.2rem;
}

.highlighted_copy {
    cursor: pointer;
}

.popup_highlighted_copy {
    font-size: 12px;
    font-family: monospace;
    background: #e2e2e2;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    word-break: break-all;
    margin: 10px 10px 20px;
    cursor: pointer;
}

.is-primary {
    background-color: #23b87f !important;
}

.container_panel {
    margin: 20px 0 10px;
}

.container_panel .title span {
    font-weight: 600;
}

.navbar-menu {
    background: #29363b;
}

.notification .title {
    margin-bottom: 0.5rem;
    white-space: normal;
}

.notification .title:last-child {
    margin-bottom: 0;
}

.objects_tree {
    line-height: 1.5;
    overflow-y: scroll;
}

.objects_tree_file {
    padding-left: 20px;
}

.objects_tree_folder {
    padding-left: 20px;
}

.objects_tree_folder .folder--label,
.objects_tree_file .file--label {
    display: flex;
    align-items: center;
}

.objects_tree_folder .folder--label {
    margin: 5px 0 0;
}

.objects_tree_file .file--label {
    margin: 2px 0 0;
}

.objects_tree_folder .folder--label span,
.objects_tree_file .file--label span {
    margin-left: 5px;
    cursor: pointer;
}

.objects_tree_folder .folder_collapsible,
.objects_tree_file .file_collapsible {
    overflow: hidden;
}

.objects_tree_file_content {
    margin: 10px 0 20px;
    background: #f5f5f5;
    border-radius: 4px;
    position: relative;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    border: 1px solid rgb(219, 219, 220);
    box-shadow: rgb(10 10 10 / 10%) 0px 0.5em 1em -0.125em, rgb(10 10 10 / 2%) 0px 0px 0px 1px;
}

.objects_tree_file_delete {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.footer {
    background-color: #293639;
    padding: 40px 20px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.socials a {
    line-height: 0;
    margin: 0 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.token_status_panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    margin: 10px auto;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
}

.token_status_panel div {
    margin-right: 15px;
}

.tile.tile_center {
    margin: auto !important;
}

.input_block {
    margin: 10px 0;
}

.input_block label {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px 30px;
    font-size: 14px;
    background: transparent;
    border: 1px dashed #363636;
    color: #363636;
    cursor: pointer;
}

.input_block:hover label {
    border: 1px solid #222;
    color: #222;
}

.input_block input {
    display: none;
}

.file-label {
    margin: auto;
}

/* popup */
.popup {
    position: fixed;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.popup_close_panel {
    position: fixed;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.popup_content {
    position: absolute;
    background: #fff;
    border-radius: 6px;
    z-index: 103;
    padding: 30px 20px 20px 20px;
    min-width: 200px;
    max-width: 650px;
}

.popup_close {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.popup_close img {
    cursor: pointer;
}

.popup_loader {
    display: flex;
    margin: 5px auto 15px;
    -webkit-animation: pulse 1.5s infinite linear;
    animation: pulse 1.5s infinite linear;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@media (min-width: 1600px) {
    .title {
        font-size: 60px;
    }

    .title.is-5 {
        font-size: 40px;
    }

    .title.is-6 {
        font-size: 28px;
        line-height: 36px;
    }

    .button {
        font-size: 30px;
    }

    .section {
        padding: 6rem;
    }

    .title:not(:last-child) {
        margin-bottom: 3rem;
    }

    .navbar {
        min-height: 5rem;
    }

    .navbar-item img {
        width: 150px;
    }

    .navbar-item,
    .navbar-link {
        font-size: 20px;
    }

    table {
        font-size: 24px;
    }

    .socials {
        margin-bottom: 50px;
    }

    .socials img {
        width: 50px;
    }

    .subtitle.is-6 {
        font-size: 24px;
    }

    .footer {
        padding: 60px 20px;
    }

    .neospcc img {
        width: 70px;
    }

    .socials a {
        margin: 0 20px;
    }
}

@media (min-width: 1024px) {
    .navbar-menu {
        margin-right: 6rem;
    }

    .navbar-brand {
        margin-left: 6rem;
    }
}

@media (max-width: 800px) {
    .tile.is-ancestor {
        margin: 20px 0;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 30px;
    }

    .notification {
        padding: 1rem;
    }
}
