@font-face {
    font-family: "WorkSans";
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/WorkSans-Bold.eot);
    src: url(./assets/fonts/WorkSans-Regular.eot?#iefix) format("embedded-opentype"), url(./assets/fonts/WorkSans-Regular.woff) format("woff"), url(./assets/fonts/WorkSans-Regular.ttf) format("truetype"), url(./assets/fonts/WorkSans-Regular.svg) format("svg")
}

@font-face {
    font-family: "WorkSans";
    font-style: normal;
    font-weight: 600;
    src: url(./assets/fonts/WorkSans-SemiBold.eot);
    src: url(./assets/fonts/WorkSans-SemiBold.eot?#iefix) format("embedded-opentype"), url(./assets/fonts/WorkSans-SemiBold.woff) format("woff"), url(./assets/fonts/WorkSans-SemiBold.ttf) format("truetype"), url(./assets/fonts/WorkSans-SemiBold.svg) format("svg")
}

@font-face {
    font-family: "WorkSans";
    font-style: normal;
    font-weight: 700;
    src: url(./assets/fonts/WorkSans-Bold.eot);
    src: url(./assets/fonts/WorkSans-Bold.eot?#iefix) format("embedded-opentype"), url(./assets/fonts/WorkSans-Bold.woff) format("woff"), url(./assets/fonts/WorkSans-Bold.ttf) format("truetype"), url(./assets/fonts/WorkSans-Bold.svg) format("svg")
}

html {
    overflow-y: auto
}

body {
    margin: 0;
    padding: 0;
    color: #003;
    background: #f0f5f6;
    font-family: WorkSans, sans-serif;
    min-width: 350px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body>iframe {
    display: none;
}

a {
    text-decoration: none;
    color: #00e599;
}

a:hover,
a:focus {
    color: #00e599;
    text-decoration: underline;
}

label {
    font-weight: 100 !important;
}

.button {
    font-family: WorkSans, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0 !important;
}

.button.is-danger {
    background-color: #f72b2b;
}

.notification .content,
.notification .subtitle,
.notification .title,
.title {
    color: #003;
}

select,
.select {
    width: 100%;

}

.input,
.select select,
.textarea {
    border-radius: 0 !important;
}

.input:focus,
.input:hover,
.select select:focus,
.select select:hover,
.textarea:focus,
.textarea:hover,
.select select[disabled]:hover,
fieldset[disabled] .select select:hover {
    box-shadow: none;
    border-color: #dbdbdb;
}

.input[disabled],
.select fieldset[disabled] select,
.select select[disabled],
.textarea[disabled],
fieldset[disabled] .input,
fieldset[disabled] .select select,
fieldset[disabled] .textarea {
    border-color: #dbdbdb;
}

.is-error select,
input.is-error,
label.is-error {
    border-color: #fc5758 !important;
    color: #fc5758 !important;
}

.error_message {
    font-size: 14px;
    margin: 10px 12px;
    color: #fc5758;
    background: #fbefeb !important;
    border: 1px solid #efd0c7;
    font-weight: 600;
}

.title.is-6 {
    line-height: 1.3rem;
}

.input_caption {
    font-size: .75rem !important;
    font-weight: 400;
    border-left: 2px solid #ffd781;
    margin-top: 1em;
    margin-bottom: 1rem;
    padding-left: 7px;
}

.navbar-item,
.navbar-link {
    padding: 0.5rem 0;
}

ul {
    list-style: unset;
}

.notification {
    background-color: #f0f5f6;
    border-radius: 0;
    padding: 1.25rem 1.5rem 1.25rem;
}

.tag,
.tag:not(body) {
    background-color: #f0f5f6;
    border-radius: 0;
    color: #003;
}

#containers .notification>h1::after {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 27px;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
}

#containers .notification>h1.active::after {
    display: none;
}

#containers .tile.is-parent>.notification {
    padding: 0;
}

#containers .tile.is-parent>.notification>h1 {
    padding: 1.25rem 1.5rem 1.25rem;
}

#containers .tile.is-parent>.notification:hover {
    /* background: #00e599; */
}

.btn_connect_wallet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: none;
    min-width: 200px;
    margin-bottom: 10px;
}

.btn_connect_wallet img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
}

.box {
    border-radius: 0;
}

.navbar {
    box-shadow: 0 1px rgb(12 13 14 / 10%), 0 1px 6px rgb(59 64 69 / 10%);
    min-height: unset;
    height: 52px;
    padding: 0 1.5rem;
}

.navbar img {
    height: 34px;
    max-width: unset;
}

.title .highlighted {
    display: inline-block;
    padding: 0.1rem 0.3rem;
    font-size: 87.5%;
    color: #fff;
    background-color: #00e599;
    border-radius: 0.2rem;
}

.highlighted_copy {
    cursor: pointer;
}

.field.is-grouped>.control {
    flex-shrink: unset;
}

.is-primary {
    background-color: #00e599 !important;
}

.panel-heading {
    font-weight: 600;
    font-size: 1em;
}

.panel-block {
    text-decoration: none !important;
    flex-direction: column;
}

.panel-block-header {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.panel-block-content {
    margin: 10px 0;
    cursor: default;
}

.panel-block-content .field.is-grouped>.control {
    flex-basis: 33%;
}

a.panel-block:hover,
label.panel-block:hover {
    background: #fff;
}

.tag.tag_disabled {
    pointer-events: none !important;
    background-color: #e9e9e9;
}

.button_disabled {
    pointer-events: none !important;
    background-color: #8d9994 !important;
}

.container_panel {
    padding: 0 1.5rem 1.25rem;
}

.container_panel .title span,
#share .title span {
    font-weight: 600;
}

.container_panel .section,
#share .section {
    background: #fff;
    padding: 15px;
    margin: 10px 0 0;
}

.notification a:not(.button):not(.dropdown-item) {
    text-decoration: none;
}

.navbar-menu {
    background: #29363b;
}

.notification .title,
#share .title {
    margin-bottom: 0.5rem;
    white-space: normal;
}

.notification .title:last-child,
#share .title:last-child {
    margin-bottom: 0;
}

.objects_tree {
    line-height: 1.5;
}

.objects_tree_file {
    padding: 0 20px;
}

.objects_tree_folder {
    padding-left: 20px;
}

.objects_tree_folder .folder--label,
.objects_tree_file .file--label {
    display: flex;
    align-items: center;
}

.objects_tree_folder .folder--label {
    margin: 5px 0 0;
}

.objects_tree_file .file--label {
    margin: 2px 0 0;
}

.objects_tree_folder .folder--label span,
.objects_tree_file .file--label span {
    margin-left: 5px;
    cursor: pointer;
    word-break: break-word;
}

.objects_tree_folder .folder_collapsible,
.objects_tree_file .file_collapsible {
    overflow: hidden;
}

.objects_tree_file_content {
    border-left: 5px solid rgb(0, 229, 153);
    margin: 10px 0 20px;
    position: relative;
}

.manage_icon {
    cursor: pointer;
    margin: 5px 15px 0 0;
}

.copy_text {
    position: relative;
}

.tooltip {
    position: absolute;
    min-width: 70px;
    background: #29363b;
    text-align: center;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
    top: -80%;
}

.tooltip:after {
    position: absolute;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    top: 100%;
    right: 50%;
    border-width: 6px;
    margin: -2px -6px;
    border-top-color: #29363b;
}

.pagination {
    margin: 1rem 0 0;
    justify-content: center;
}

.pagination-previous,
.pagination-next {
    order: unset;
    cursor: pointer;
    min-width: 2em;
    font-size: 12px;
    margin: 0;
}

.pagination-text {
    margin: 0 0.75rem;
}

.footer {
    background-color: #f0f5f6;
    padding: 40px 20px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.socials a {
    line-height: 0;
    margin: 0 10px;
}

.social_pipe {
    border-right: 2px solid #000;
    display: flex;
    padding-right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.token_status_panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    margin: 10px auto;
    background: #f0f5f6;
    border: 1px solid #dfe3e3;
    border-left: 5px solid rgb(255, 215, 129);
    padding: 20px;
    border-radius: 0;
}

.token_status_panel div {
    margin-right: 13px;
}

.tile.tile_center {
    margin: auto !important;
}

.input_block {
    margin: 10px 0;
}

.input_block label {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px 30px;
    font-size: 14px;
    background: transparent;
    border: 1px dashed #363636;
    color: #363636;
    cursor: pointer;
    min-width: 300px;
    word-break: break-word;
}

.input_block:hover label {
    border: 1px solid #222;
    color: #222;
}

.input_block input {
    display: none;
}

.file-label {
    margin: auto;
}

.spinner {
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* popup */
.popup {
    position: fixed;
    z-index: 104;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.popup_content {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px rgb(255 255 255 / 15%);
    border-radius: 6px;
    z-index: 105;
    padding: 10px;
    margin-top: 20px;
    min-width: 200px;
    max-width: 450px;
    pointer-events: auto;
}

.popup_content_success {
    color: #ffffff;
    background: #00e599;
    border: 1px solid #00e59999;
}

.popup_content_failed {
    color: #ffffff;
    background: #fc5758;
    border: 1px solid #dc5253;
}

.popup_content .title {
    color: inherit;
}

/* modal */
.modal {
    position: fixed;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.modal_close_panel {
    position: fixed;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.modal_content {
    position: absolute;
    background: #fff;
    border-radius: 6px;
    z-index: 103;
    padding: 30px 20px 20px 20px;
    min-width: 200px;
    max-width: 450px;
    margin: 10px;
}

.modal_scroll {
    overflow-y: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal_scroll .modal_content {
    position: relative;
}

.modal_highlighted_copy {
    font-size: 10px;
    font-family: monospace;
    color: #003 !important;
    background: #f0f5f6;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    word-break: break-all;
    margin: 10px 10px 20px;
}

.modal_highlighted_copy span {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.modal_close {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.modal_close img {
    cursor: pointer;
}

.modal_loader {
    display: flex;
    margin: 5px auto 15px;
    -webkit-animation: pulse 1.5s infinite linear;
    animation: pulse 1.5s infinite linear;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@media (min-width: 1024px) {
    .navbar {
        display: block;
        padding: 0 6rem;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 24px;
    }

    .notification {
        padding: 1rem;
    }

    .section {
        padding: 1rem 0.75rem;
    }

    .navbar {
        padding: 0 0.75rem;
    }

    .box {
        padding: 1rem;
    }

    #containers .tile.is-parent>.notification>h1 {
        padding: 0.75rem 1rem 0.75rem;
    }

    #containers .title.is-5 {
        font-size: 1rem;
    }

    #containers .objects_tree_file_content .title.is-6 {
        font-size: 0.75rem;
        line-height: 1rem;
        margin-bottom: 0.25rem;
    }

    #containers .notification>h1::after {
        margin: 18px;
    }

    .container_panel {
        padding: 0 1rem .75rem;
    }

    .panel-block-content {
        width: 100%;
    }

    .panel-block-content .field.is-grouped {
        flex-direction: column;
    }

    .panel-block-content .field.is-grouped img {
        margin: auto;
    }

    .panel-block-content .field.is-grouped>.control {
        flex-basis: 100%;
        margin: 0 0 10px 0;
    }

    .token_status_panel {
        max-width: 290px;
    }

    #containers .token_status_panel {
        flex-direction: column;
        text-align: center;
        max-width: 200px;
    }

    #containers .token_status_panel .title.is-6 {
        margin: 0 0 10px 0 !important;
        font-size: 0.9rem;
    }

    .objects_tree_file {
        padding: 0 10px;
    }

    #containers .active.title img {
        width: 14px;
    }

    .objects_tree_folder {
        padding-left: 10px;
    }

    .objects_tree_file_content {
        border-left: 3px solid rgb(0, 229, 153);
        margin: 5px 0 10px;
    }

    .container_panel .section {
        padding: 10px;
        margin: 5px 0 0;
    }
}
